@charset "ISO-8859-1";
@font-face {
    font-family: 'Superclarendon';
    src: url('font/superclarendon/superclarendon-regular-webfont.eot');
    src: url('font/superclarendon/superclarendon-regular-webfont.eot?#iefix') format('eot'),
         url('font/superclarendon/superclarendon-regular-webfont.woff') format('woff'),
         url('font/superclarendon/superclarendon-regular-webfont.ttf') format('truetype'),
         url('font/superclarendon/superclarendon-regular-webfont.svg#webfont/superclarendono0FHfmnM') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}
h2, h3 {
  font-family: Superclarendon;
}
a {
  color: #8f4d3e;
  text-decoration: none;
  background-color: #fff!important;
}
a:hover {
  color: #999;
  text-decoration: underline;
}
p {
  font-size: 16px;
  line-height: 24px;
}

.container-fluid {
  margin-right: auto;
    margin-left: auto;
      min-width: 1024px;
      }

.nav li {
  font-size: 26px;
  display: inline-block;
  margin: 0 12px;
  color: #3f3f3f;
  line-height: 56px;
  font-variant: small-caps;
  font-weight: bold;
}

