<%= partial('layout_header'); %>
  <body>
    <div class="container">

      <div class="row">
        <div class="span1"></div>
        <div class="span2">
<% if (request.url == '/docs') {  %>
<image src="/img/cowboy_hat.png" width="144" height="91" alt="Cowboy hat" style=""/>
<% }  %>
        </div>
        <div class="span6">

  <ul class="nav" style="
  height: 56px;
  list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
  ">
    <li><a href="/" class="selected">home</a></li>
    <li><a href="/docs">docs</a></li>
    <li><a href="https://github.com/jakejs/jake">code</a></li>
  </ul>


        </div>
        <div class="span2">
<% if (request.url == '/docs') {  %>
<image src="/img/cowboy_hat.png" width="144" height="91" alt="Cowboy hat" class="hidden-phone" style=""/>
<% }  %>
        </div>
        <div class="span1"></div>
      </div>


      <div class="row">
        <div class="span1"></div>
        <div class="span10">
          <%- render(); %>
        </div>
        <div class="span1"></div>
      </div>
    </div>
  </body>
<%= partial('layout_footer'); %>

