<h2
style="
  padding-top: 24px;
  color: #3f3f3f;
  font-family: Superclarendon; font-size: 160px; line-height: 140px;
  letter-spacing: -5px;
">Jake</h2>
  <image src="/img/cowboy_hat.png" width="288" height="182" alt="Cowboy hat" style="
  width: 288px;
  height: 182px;
  display: inline-block;
  "
  />
  <h3
style="
  padding-top: 24px;
  padding-bottom: 4px;
  color: #3f3f3f;
  font-family: Superclarendon; font-size: 56px; line-height: 56px;
  letter-spacing: -1px;
  ">JavaScript build tool</h3>

<div style="text-align: left;">
<%- content; %>
</div>
